@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    font-family:"Comic Sans MS";
}

h1 {
    font-size: 175%;;
    text-align: center;
}

article{
    float: left;
}

div.text-box{
    background-color: gray;
    margin-left:auto;
    margin-right:auto;
    margin:20px;
    border:1px solid black;
}

div.text-box div.main-text{
    padding:20px 20px 5px 20px;
}

div.head{
    float:right;
    padding:0 20px 0;
    text-align: center;
    border:1px solid black;
    width:100px;
}

div.chicken{
    background-color: pink;
}

div.beef{
    background-color: brown;
    color:white;
}

div.sushi{
    background-color:rgb(255, 229, 136);
}

div.main-text{
    margin-top:10px;
}

/*Desktop*/
@media (min-width:992px) {
  
    article{
        width:33%;
    }

}

/*Tablet*/
@media (min-width:768px) and (max-width:991px){
    article{
        width:50%;
    }  
    article.sushi{
        width:100%;
    }
}

/*Mobile*/
@media (max-width:767px){
    article{
        width:100%;
    }   
}
